$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "ico" !default;

$icon-ico-brand-brand: "\e900";
$icon-ico-brand-company: "\e901";
$icon-ico-brand-company_tg-line: "\e902";
$icon-ico-brand-foster: "\e903";
$icon-ico-brand-tige-line: "\e904";
$icon-ico-brand-ya-co: "\e905";
$icon-ico-envelope: "\e906";
$icon-ico-facebook: "\e907";
$icon-ico-instagram: "\e908";
$icon-ico-linkedin: "\e909";
$icon-ico-smartphone: "\e90a";
$icon-ico-twitter: "\e90b";

