$colorBasic: #212121; // color basic text
$colorBasic2: #2196f3; // color basic2 text & hover

$colorBackground: #f5f4fa; // color
$colorBackground-footer: #2f303a; // color Background footer

$colorButton-hover: #005092; // color basic2 text & hover
$colorMailtoTel: #757575; // color Mailto Tel text
$colorPoster: #c4c4c4; // color poster
$colorico: #afb1b8;

$color: #000000;
$colorWhite: #ffffff;

@mixin fontRoboto {
  font-family: "Roboto";
  font-style: normal;
}

@mixin flex() {
  display: flex;
  justify-content: space-between;
}

@mixin logo() {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px; /* identical to box height */
  letter-spacing: 0.03em;
  color: $colorBasic2;
}

@mixin button() {
  @include fontRoboto();
  width: max-content;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%; /* identical to box height, or 30px;*/
  text-align: center;
  letter-spacing: 0.06em;
  color: $colorWhite;

  background-color: $colorBasic2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  &:hover {
    background-color: $colorButton-hover;
  }
  &:focus {
    background-color: $colorButton-hover;
  }
}

body {
  @include fontRoboto();
  color: $colorBasic;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* END basic controls*/
